@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital@1&family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');
@font-face {
    font-family: 'SVN-Avo';
    src: url('../assets/font/SVN-Avo.ttf') format('truetype');
}
@font-face {
    font-family: 'Berlin Sans FB';
    src: url('../assets/font/berlin-sans-fb-cufonfonts/BRLNSR.TTF') format('truetype');
}

body {
    max-height: 100vh;
    overflow: hidden;

    @media (max-width: 768px) {
        overflow: auto;
    }
}
.bg-kog {
    background-image: url(../assets/bg-kog-version-4.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 13% 90%;
    @media (max-width: 768px) {
        height: auto;
    }
}

.with-shadow {
    font-weight: bold;
    text-shadow: rgba(0, 12, 10, 0.5) 6px 8px 0px;
}

.all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-title {
    font-weight: 400;
    font-family: 'Luckiest Guy', cursive;
}

.text-content {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Berlin Sans FB';

    @media (max-width: 768px) {
        font-size: 24px;
        line-height: 36px;
    }
}

.shadow-custom {
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.25);
    transition: transform 0.1s;
    &:hover {
        transform: translateY(2px);
    }
}

.shadow-box {
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.25);
    transition: transform 0.1s;
}

.text-btn {
    font-size: 10px;
    line-height: 24px;
    font-weight: 400;
    color: #432627;
    font-family: 'Luckiest Guy', cursive;

    @media (max-width: 768px) {
        font-size: 26px;
        line-height: 36px;
    }
}

.text-title-box {
    line-height: 36px;
    font-weight: 400;
    font-family: 'Luckiest Guy', cursive;

    @media (max-width: 768px) {
        line-height: 64px;
    }
}

.text-content-box {
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'SVN-Avo';
    text-align: center;
    overflow-wrap: break-word;
    white-space: pre-line;

    @media (max-width: 768px) {
        font-size: 24px;
        line-height: 36px;
        text-align: justify;
        overflow-wrap: break-word;
        white-space: pre-line;
    }
}

.blur-10 {
    backdrop-filter: blur(3px);
    background: rgb(255 253 253 / 13%);
}

.blur-20 {
    background: rgb(67 66 66 / 13%);
}

.text-title-token {
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    font-family: cursive;
    @media (max-width: 768px) {
        font-size: 24px;
        line-height: 36px;
    }
}

.text-token {
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Luckiest Guy', cursive;

    @media (max-width: 768px) {
        font-size: 24px;
        line-height: 36px;
    }
}

.text-footer {
    font-weight: 700;
    font-size: 10px;
    line-height: 24px;
    color: #d0170d;
    font-family: 'Berlin Sans FB';

    @media (max-width: 768px) {
        font-size: 12px;
        line-height: 24px;
    }
}

.scale-icon {
    transition: transform 0.5s ease;
    &:hover {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}
